@import "var";

$--color-disabled-checkbox: #C0C4CC;

.yz{
  .el-checkbox-group,
  .el-radio,
  .el-checkbox,
  .el-radio-group {
    .el-checkbox__label,
    .el-radio__label {
      color: $--color-form-label;
      font-weight: normal;
      font-size: $--font-size-standard;
    }
    .el-radio__input:not(.is-disabled).is-checked .el-radio__inner,
    .el-checkbox__input:not(.is-disabled).is-checked .el-checkbox__inner {
      background: $--color-primary;
      border-color: $--color-primary;
    }

    .el-checkbox__input:not(.is-disabled).is-checked + .el-checkbox__label,
    .el-radio__input:not(.is-disabled).is-checked + .el-radio__label {
      color: $--color-primary;
    }

    .el-radio__input.is-disabled.is-checked .el-radio__inner {
      background-color: $--color-disabled-checkbox;
      &:after {
        background-color: $--color-white;
      }
    }

    .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
      background-color: $--color-disabled-checkbox;
      &:after {
        border-color: $--color-white;
      }
    }
  }
}


