@import 'var';
//竖向菜单
.yz {
  .el-menu:not(.el-menu--horizontal) {
    background: $--color-sidebar !important;
    color: $--color-black;
    font-size: $--font-size-standard !important;
    a {
      color: $--color-black;
      text-decoration: none;
    }
    .el-menu-item {
      font-size: $--font-size-standard !important;
      color: $--color-black !important;
      &:not(.is-disabled):hover {
        background: $--color-primary;
        color: $--color-white !important;
      }
      &.is-active {
        background: $--color-primary;
        color: $--color-white !important;
        position: relative;
        /* &::after {
          content: "";
          width: 4px;
          height: 100%;
          background: $--color-primary-active;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        } */
      }
    }
    .el-icon-arrow-up {
      &:before {
        content: '\e78f';
      }
    }
    .el-icon-arrow-down {
      &:before {
        content: '\e78f';
      }
    }
  }

  //水平菜单
  .el-menu.el-menu--horizontal {
    //顶部导航
    &.header-nav {
      background: $--color-primary;
      height: 50px;
      .el-menu-item {
        line-height: 50px;
        height: 42px;
        margin: 0 21px;
        background: $--color-primary;
        color: $--color-white;
        &:hover,
        &:focus {
          background: $--color-primary;
        }
        &.is-active {
          border-bottom: 2px solid $--color-white;
        }
        &:first-child {
          margin-left: 13px;
        }
      }
    }
    //一级导航
    &.nav-1 {
      .el-menu-item {
        height: 48px;
        line-height: 50px;
        margin: 0 15px;
        &:first-child {
          margin-left: 13px;
        }
      }
    }
    //二级导航
    &.nav-2 {
      .el-menu-item {
        height: 46px;
        line-height: 50px;
        margin: 0 10px;
        &:first-child {
          margin-left: 20px;
        }
      }
    }
    //分栏导航
    &.nav-column {
      .el-menu-item {
        height: 38px;
        line-height: 40px;
        margin: 0 10px;
        &:first-child {
          margin-left: 20px;
        }
      }
    }
    //公共样式
    .el-menu-item {
      padding: 0;
      font-size: $--font-size-standard;
    }
    //除顶级导航以外的
    &.nav-1,
    &.nav-2,
    &.nav-column {
      border: 1px solid $--color-border;
      .el-menu-item {
        color: $--color-black;
        background: $--color-white;
        &:hover:not(.is-disabled),
        &.is-active {
          color: $--color-primary;
        }
      }
    }
  }
}
