@import "var";
.yz {
  .el-scrollbar {
    .tree-container {
      width: 100%;
    }
  }
  .tree-container {
    .el-tree-node {
      &.is-current {
        .el-tree-node__content {
          border-right-color: $--color-primary;
          .node-name,
          .el-tree-node__expand-icon{
            color: $--color-primary;
          }
          .el-icon-more {
            display: block;
          }
        }
        .el-tree-node__children {
          .el-tree-node__content {
            border-right-color: transparent;
            .node-name {
              color: $--color-black;
            }
            .node-row .el-icon-more {
              display: none;
            }
          }
        }
      }
      .el-tree-node__content {
        height: 40px;
        border-right: 2px solid transparent;
        .node-row {
          overflow: hidden;
        }
        .node-name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &.empty-menu {
            padding-right: 10px;
          }
        }
        .el-tree-node__expand-icon,
        .node-name {
          font-size: $--font-size-standard;
          color: $--color-black;
        }
        .is-leaf.el-tree-node__expand-icon {
          visibility: hidden;
        }
        &:hover {
          background-color: #F3F9FF;
          .el-icon-more {
            display: block !important;
          }
          .node-name,
          .el-tree-node__expand-icon{
            color: $--color-primary;
          }
        }
      }
    }
    .el-tree-node .el-tree-node__content .el-tree-node__expand-icon {
      &.mfe-zhankai{
        color: $--color-primary;
        &:before {
          content: "\e6c3";
        }
        &.expanded {
          transform: none;
          &:before {
            content: "\e6c2";
          }
        }
      }
    }
    .el-dropdown {
      width: 30px;
      text-align: center;
    }
    .el-icon-more {
      display: none;
      //height: 30px;
      //line-height: 30px;
      //position: absolute;
      //right: 20px;
      color: $--color-primary;
      transform: rotate(90deg);
    }
  }
}
